<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main","anchor":"main-content","className":"wei-reading","layout":{"type":"constrained"}} -->
<main class="wp-block-group wei-reading" id="main-content"><!-- wp:post-terms {"term":"wei_country"} /--><!-- wp:post-title {"level":1} /--><!-- wp:post-date /--><!-- wp:post-featured-image /--><!-- wp:post-content {"layout":{"type":"constrained"}} /--><!-- wp:separator --><hr class="wp-block-separator has-alpha-channel-opacity"/><!-- /wp:separator --><!-- wp:post-navigation-link {"type":"previous"} /--><!-- wp:post-navigation-link /--></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
